<div class="blog-post mb-5">
    <h3 class="blog-title">
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h2>
    <div class="blog-heading">
        <span>{{ post.data.date | postDate }}</span>
        <span>
            <a href="{{ (post.url + '#comments') | url }}" data-url="{{ post.url | url }}">Loading comments...</a>
        </span>
    </div>
    <hr class="blog-heading-divider"/>
    <div class="post-content">
        {% set postPreview = post.content | excerpt %}
        {% if postPreview | trim %}
            {{ postPreview | safe }}
        {% else %}
            {{ post.content | safe }}
        {% endif %}
        {# {{ post.content | excerpt | safe }} #}
        {% if "<!-- excerpt -->" in post.content %}
            <a href="{{ post.url | url }}" class="post-read-more">Read More</a>
        {% endif %}
    </div>
</div>