---
title: The Pusheen Cult
layout: "base.njk"
nesting: "./"
---

<div class="content-box pt-5 pb-3 px-5 shadow-sm">
  <div class="pb-3 w-100">
    <h2 class="brown-text">The Pusheen Cult Archive</h2>
    <p class="mt-3 justify-text">
          This site is an almost one-to-one recreation of the original <b>
        <a href="https://the-pusheen-cult.weebly.com/"> Pusheen Cult Weebly website</a></b>, which has sadly become defunct (and ultimately inaccessible) due to Weebly no longer operating in the webmaster's country of origin. This new site is coded from scratch using <b><a href="https://www.11ty.dev/">Eleventy</a></b>. As a disclaimer, the content of this site is intended to be a joke. 
          <br><br>
          Other than the complete migration of pages, comments and user submissions, this new site also includes slightly better responsiveness than the original. It will most likely not be updated any further, but user submissions - such as on the <b>
        <a href="{{ '/the-lord-is-listening/' | url }}">Prayers</b></a>, <b>
        <a href="{{ '/testimonials/' | url }}">Testimonials</b>
      </a> and <b>
        <a href="{{ '/join-up/' | url }}">Membership</b>
      </a> pages - will still remain open. <br><br>Any user submissions will also be automatically added to the website, but any potentially sensitive content will be removed. If you would like your submission or comment to be removed, you can... send me PR on <b>
        <a href="https://github.com/kanekos99/the-pusheen-cult">Github</b></a>...?
    </p>
  </div>
</div>

<div class="content-box pt-5 pb-4 px-5 shadow-sm mt-3">
  <div class="pb-4 w-100">
    <h2 class="brown-text">Weebly Gallery</h2>
    <div class="gallery-container mt-3">
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/1.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/2.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/3.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/4.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/5.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/6.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/7.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/8.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/9.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/10.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/11.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/12.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/13.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/14.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
      <div class="gallery-thumbnail-container-2">
        <img src="{{ '/assets/archive/15.png' | url }}" 
                 class="gallery-thumbnail-2 img-fluid gallery-img" 
                 loading="lazy"         
                 onclick="showImage(this);" 
                 data-bs-toggle="modal"
                 data-bs-target="#galleryModal"
        />
      </div>
    </div>
  </div>
</div>

<div class="content-box py-5 px-5 rounded-box-bottom shadow-sm mt-3">
<div class="pb-3 w-100">
  <h2 class="brown-text">Wayback Machine</h2>
  <p class="mt-3 justify-text">
        The original weebly site has been partially archived on Wayback Machine, although some of these links may not work:
    </p>
  <ul>
    <li>
      <a href="https://web.archive.org/web/20260810033712/https://the-pusheen-cult.weebly.com/">Home</a>
    </li>
    <li>
      <a href="https://web.archive.org/web/20240125024450/https://the-pusheen-cult.weebly.com/about-worship.html">About Worship</a>
    </li>
    <li>
      <a href="https://web.archive.org/web/20260810033738/https://the-pusheen-cult.weebly.com/join-up.html">Join Up</a>
    </li>
    <li>
      <a href="https://web.archive.org/web/20260810121629/https://the-pusheen-cult.weebly.com/the-lord-is-listening.html">The Lord is Listening</a>
    </li>
    <li>
      <a href="https://web.archive.org/web/20260810121954/https://the-pusheen-cult.weebly.com/saintly-sunday-stories/purralds-of-a-new-age">Saintly Sunday Stores - Purralds of a New Age</a>
    </li>
    <li>
      <a href="https://web.archive.org/web/20260810121906/https://the-pusheen-cult.weebly.com/the-daily-purrphet/selfies-a-how-to">The Daily Purrphet - Selfies: A How-To</a>
    </li>
    <li>
      <a href="https://web.archive.org/web/20260810122011/https://the-pusheen-cult.weebly.com/the-daily-purrphet/merry-pushmas">The Daily Purrphet - Merry Pushmas</a>
    </li>
    <li>
      <a href="https://web.archive.org/web/20260810122036/https://the-pusheen-cult.weebly.com/the-daily-purrphet/pusheemas">The Daily Purrphet - Pushmas</a>
    </li>
  </ul>
</div>
</div>

<script src="{{ '/scripts/archive-gallery.js' | url }}"></script>