---
title: The Pusheen Cult
layout: "base.njk"
nesting: "./"
---
<div
        class="content-box py-5 px-5 rounded-box-bottom shadow-sm blog-page-content-box"
      >
    <div class="blog-container mb-4">
        <div class="blog-post">
            <h3 class="blog-title">
                <a href="">Sunday Sermons</a>
            </h2>
            <div class="blog-heading">
                <span>1/26/2014</span>
                <span>
                    <a href="">0 Comments</a>
                </span>
            </div>
            <hr class="blog-heading-divider"/>
            <div class="post-content">
                <p>
                Pusheen our heavenly feline, <br/>
                when the thought of you <br/>
                wakes in our hearts, <br/>
                let its awakening <br/>
                not be like a startled bird <br/>
                that flies about in fear. <br/>
                Instead, let it be like a kitten <br/>
                waking from sleep <br/>
                with a heavenly smile <br/>
                -Ameow
              </p>
            </div>
        </div>
    </div>
    <div class="img-container">
        <img class="side-img" src="{{ '/assets/hamburger.png' | url }}"/>
    </div>
</div>