---
title: The Pusheen Cult
layout: "base.njk"
nesting: "./"
---

<div class="content-box mt-3 py-5 shadow-sm">
    <img src="./assets/pusheen_ducks.png" class="pusheen-img"/>
    <div class="text-box right-box">
        <div class="text-wrap">
            <h2 class="tagline">Cult of the Holy Feline</h2>
            <p class="description mt-3">
              A place for worshippers of the Holy Lord to gather and praise our
              Pusheen Overlord
            </p>
            <a
              class="facebook-btn"
              href="https://www.facebook.com/thepusheencult"
              >Like our Facebook page!</a
            >
        </div>
    </div>
</div>

<img class="separater" src="./assets/seprator.png"/>

<div
        class="content-box left-content py-5 px-5 rounded-box-bottom shadow-sm"
      >
    <div>
        <h2>Weekly Announcements</h2>
        <p>
            This week, <b>2</b> new members have joined us in our worship. We
            welcome them with open paws!
          </p>
        <h3>The Daily Purrphet</h3>
        <p>
            <b>
                <a href="">A How-to Guide on Selfies:</a>
            </b> Let our fabulous
            feline Overlord teach you the ways of the Selfie
          </p>
        <h3>Saintly Sunday Stories</h3>
        <p>
            <b>Purralds of a New Age:</b> Click <b>
                <a href="{{ '/saintly-sunday-stories/Purralds-of-a-New-Age/' | url }}">here</a>
            </b> to read!
          </p>
        <h3>Have you done your daily Prayers?</h3>
        <p>Click <b>
                <a href="{{ '/daily-prayers/' | url }}">here</a>
            </b> for some prayer suggestions!</p>
        <hr/>
        <h3 class="mt-5">Winter Tips: How to Stay Warm</h3>
        <p>
            Go on, grab those mugs of steaming hot chocolate and wrap yourselves
            up in blankets as we present you a set of tips on how to keep warm
            during winter from the Overlord Pusheen herself!
          </p>
        <div class="text-box-2">
            <img src="./assets/seek_shelter.png"/>
            <p class="right-box-70">
              1) <b class="black-text">Seek shelter</b>: Don't wander around the
              neighbourhood during winter! Instead, stay home and curl up in
              front of a fireplace, where you'll be warm and toasty, not to
              mention safe and sound. Hide away from those frosty winds,
              preferably between someone's feet, where you'll be nicely shielded
              from any unwanted chilly drafts.
            </p>
        </div>
        <div class="text-box-2 mt-5">
            <img src="./assets/winter_coat.png"/>
            <p class="right-box-70">
              2) <b class="black-text">Get a winter coat</b>: The warm and
              fluffier the better! However remember to never buy fur products
              made from real fur, real fur is often obtained from animals in the
              cruelest of ways ways (Lord Pusheen does not approve!!!) A sweater
              works well too!
            </p>
        </div>
        <div class="text-box-2 mt-5 mb-5">
            <img src="./assets/cuddle.png"/>
            <p class="right-box-70">
              3) <b class="black-text">Cuddle</b>: Grab your friendly household
              cats and form a cat nest. Cuddle up amongst these furry, fluffy
              pelts and you'll be warm in no time. Not to mention cuddling them
              is also a great way to show your affection to your cat
            </p>
        </div>
        <hr/>
        <h3 class="mt-5">Disclaimers</h3>
        <p class="mb-5">
            We do not claim to own Pusheen in any way (it would be most
            preposterous of us!)<br/>
            All images on this site are sourced from our Holy Meows, which can
            be found <b>
                <a href="https://pusheen.com/">here</a>
            </b> (which we do
            not own either)
          </p>
    </div>
</div>