---
title: The Pusheen Cult
layout: "base.njk"
nesting: "./"
---

<div class="content-box pt-5 pb-3 px-5 shadow-sm form-page">
  <div class="w-100">
    <h2>Share your testimonials</h2>
    <p>
          Share your testimonials of the Overlord Pusheen's greatness here!
          <br/>
          Alternatively, you can also send in prayers to our Feline Overlord <b>
        <a href="{{ '/the-lord-is-listening/' | url }}">here</a></b>.

        <br><br>
        <i>(Note: Any submission will be automatically added to the page so please do not submit any personal information!)</i>
        </p>
    <div class="form mb-5">
      <form id="submit_form" onsubmit="submitButton.disabled = true; v_submitted = true;" method="post" target="c_hiddenIframe" action="https://docs.google.com/forms/d/e/1FAIpQLScSApUU3Hl57oWIsa2BPU-mTTE5UWCGSoeXUaFppoODRgzB_g/formResponse">
        <div>
          <label class="form-heading"
                >Name <span class="red-text">*</span></label
              >
        </div>
        <div class="form-group">
          <input type="text" class="form-text-input" id="entry.936029012" name="entry.936029012" required/>
        </div>
        <div class="mt-3">
          <label class="form-heading"
                >Website</label
              >
        </div>
        <div class="form-group">
          <input
                type="text"
                class="form-text-input"
                id="entry.930512521"
                name="entry.930512521"
          />
        </div>
        <div class="mt-3 mb-2">
          <label class="form-heading"
                >Message <span class="red-text">*</span></label
              >
        </div>
        <div>
          <textarea class="form-text-input message-box" name="entry.1237998829" id="entry.1237998829" rows="4" cols="45" maxlength="1000" required pattern=".*\S.*"></textarea>
        </div>
        <div class="mt-4">
          <input type="submit" name="submitButton" class="submit-btn" id="submitButton" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="content-box py-5 px-5 rounded-box-bottom shadow-sm mt-3">
  <div class="mb-3 testmonials-list">
    <h2>Testimonials</h2>
    <div id="submissions">
      <p class="mt-3">
        <i
              >"Both the Internet and the Outernet should accept Pusheen as our
              Lord and Saviour! Pusheen is life. Life is Pusheen"</i
            >
        <br/>
            -Anonymous
          </p>
      <p>
        <i
              >"Meow meow meow mew meow!"<br/>
              (which our feline translators have translated to: "Pusheen is
              great! We get free food thanks to her!")</i
            >
        <br/>
            - A friendly stray cat
          </p>
        <p>Loading more testimonials...</p>
    </div>
  </div>
</div>

<script src="{{ '/scripts/submissions.js' | url }}"></script>