---
title: The Pusheen Cult
layout: "base.njk"
nesting: "./"
---

<div class="content-box py-5 px-5 rounded-box-bottom shadow-sm">
    <div class="mb-3">
        <h2>Testimonials</h2>
        <p class="mt-3">
            <i
              >"Both the Internet and the Outernet should accept Pusheen as our
              Lord and Saviour! Pusheen is life. Life is Pusheen"</i
            >
            <br/>
            -Anonymous
          </p>
        <p>
            <i
              >"Meow meow meow mew meow!"<br/>
              (which our feline translators have translated to: "Pusheen is
              great! We get free food thanks to her!")</i
            >
            <br/>
            - A friendly stray cat
          </p>
    </div>
</div>